body {
    background-color: rgb(13, 21, 95);
    color: lightgrey;

}


html {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.9) inset;
}


.responsive-img {
    max-width: 250px;
    border-radius: 50%
}


.sk1 {
    margin-top: 3%;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.sk2 {
    margin-top: 3%;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}



.sk3{
    margin-top: 3%;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.skill1 {
    background-color: #8b9eb7 !important;
    color: black !important;
    font-weight: bold !important;
    padding: 1em !important;
    border-radius: 4px !important;
    max-width: 300px !important;
    font-size: 1.1rem !important;
}



.skill2 {
    background-color: #8b9eb7 !important;
    color: black !important;
    font-weight: bold !important;
    padding: 1em !important;
    border-radius: 4px !important;
    max-width: 300px !important;
    font-size: 1.1rem !important;
}



.skill3 {
    background-color: #8b9eb7 !important;
    color: black !important;
    font-weight: bold !important;
    padding: 1em !important;
    border-radius: 4px !important;
    max-width: 300px !important;
    font-size: 1.1rem !important;
}



.skill4 {
    background-color: #8b9eb7 !important;
    color: black !important;
    font-weight: bold !important;
    padding: 1em !important;
    border-radius: 4px !important;
    max-width: 300px !important;
    font-size: 1.1rem !important;
}




.skill5 {
    background-color: #8b9eb7 !important;
    color: black !important;
    font-weight: bold !important;
    padding: 1em !important;
    border-radius: 4px !important;
    max-width: 300px !important;
    font-size: 1.1rem !important;
}




.skill6 {
    background-color: #8b9eb7 !important;
    color: black !important;
    font-weight: bold !important;
    padding: 1em !important;
    border-radius: 4px !important;
    max-width: 300px !important;
    font-size: 1.1rem !important;
}




.skill7 {
    background-color: #8b9eb7 !important;
    color: black !important;
    font-weight: bold !important;
    padding: 1em !important;
    border-radius: 4px !important;
    max-width: 300px !important;
    font-size: 1.1rem !important;
}




.skill8 {
    background-color: #8b9eb7 !important;
    color: black !important;
    font-weight: bold !important;
    padding: 1em !important;
    border-radius: 4px !important;
    max-width: 300px !important;
    font-size: 1.1rem !important;
}

















@media (min-width:1280px) {
    .responsive-img {
        max-width: 300px;
    }
}